/node_modules
/tmp
build
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
smf/manifests/marlin-agent.xml
smf/manifests/marlin-lackey.xml
smf/manifests/marlin-mock-manta.xml
src/mallocbomb/mallocbomb
